header {
    background-color: #333;
    padding: 15px 15px;
}
.container {
    margin: 0 auto;
    max-width: 1040px;
    width: 100%;
}

header .container {
    display: flex;
    justify-content: space-around;
}
header .container nav {
    display: flex;
    justify-content: space-between;  
}

header .container nav a {
    color: #fafafa;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0 15px;
    align-self: center;
}
main .container {
    padding-top: 70px;
    padding-bottom: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    color: #fafafa;
    background: url(../img/bg-intro.jpg);
    max-width: 2080px;
    max-height: 1040px;
    width: 100%;
    height: 100%;
    font-size: 4em;
}

main .container p {
    color: #f3f3f3;
    font-size: 0.3em;
}

main .secondSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .secondSection h2{
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 2.7em;
    font-weight: bold;
    color: #333;
}

main .secondSection p {
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    font-size: 1.7em;
    align-content: center;
    color: #333;
}

main .qualities {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
}

main .qualities .amor {
    padding: 10px 50px 10px 50px;
    color: #fafafa;
    margin-left: 40px;
    margin-right: 40px;
    background-color: rgb(90, 90, 90);
    font-size: 2em;
}

main .qualities .perfeicao {
    padding: 10px 50px 10px 50px;
    color: #fafafa;
    background-color: rgb(90, 90, 90);
    font-size: 2em;
}

main .thirdSection {
    background-color: #acacacd8;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px 100px 100px 100px;
}

main .types {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main .types h2 {
    padding-top: 300px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 100px;
    font-size: 1.2em;
    color: #333;
}
main .fourthSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

main .botafogo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main .iguatemi{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main .mineirao{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer .footer1 {
    display: flex;
    flex-direction: row;
    background-color: #a8a8a8d8;
    margin-top: 100px;
}
footer .footer1 .newsletter {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 200px;
    flex-direction: column;
}
footer .footer1 .newsletter h1{
    color: #333;
    font-weight: bold;
    font-size: 1.8em;
}
footer .footer1 .newsletter p {
    color: #333;
    font-weight: bold;
    font-size: 0.9em;
}
footer .footer2 {
    background-color: #949494d8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 280px;
    padding-top: 30px;
}
footer .footer2 p {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 200px;
    font-size: 0.8em;
    color: rgb(44, 44, 44);
    font-weight: bold;
}
